/* Memberi background color pada id daftar-siswa */
#daftar-siswa {
  background-color: gainsboro
}

/* Memberi background color pada baris pertama menggunakan fitur first-child */
p:first-child {
  background-color: #60A5FA
}

/* Memberi background color pada baris terakhir menggunakan fitur last-child */
p:last-child {
  background-color: #F87171
}

/* Memberi background color pada tulisan saat mode sentuh/hover */
p:hover {
  background-color: #E5E7EB
}
